.profile__base {
    width: 120px;
    height: 120px;
}

.profile__base:hover::before {
    content: " ";
    /* display: inline-block; */
    width: 120px;
    height: 120px;
    position: absolute;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8) no-repeat center center;
    background-image: url("./../../../images/pencil.svg");
    background-size: 26px;
}