.profile__occupation {
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

@media screen and (min-width: 619px) {
    .profile__occupation {
        text-align: left;
        margin: 0;
    }
}


@media screen and (min-width: 880px) {
    .profile__occupation {
        font-size: 18px;
        line-height: 22px;
    }
}