@import url("./vendor/normalize.css");
@import url("./vendor/fonts/inter.css");


@import url("./blocks/root/root.css");
@import url("./blocks/page/page.css");
@import url("./blocks/wrap/wrap.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__navbar/header__navbar.css");
@import url("./blocks/header/__button/header__button.css");
@import url("./blocks/header/__link/header__link.css");

@import url("./blocks/content/content.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__add/profile__add.css");
@import url("./blocks/profile/__base/profile__base.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__edit/profile__edit.css");
@import url("./blocks/profile/__fill/profile__fill.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__occupation/profile__occupation.css");
@import url("./blocks/profile/__title/profile__title.css");
@import url("./blocks/profile/__name/profile__name.css");

@import url("./blocks/photo-grid/photo-grid.css");
@import url("./blocks/photo-grid/__picture/photo-grid__picture.css");
@import url("./blocks/photo-grid/__place/photo-grid__place.css");
@import url("./blocks/photo-grid/__places/photo-grid__places.css");
@import url("./blocks/photo-grid/__rectangle/photo-grid__rectangle.css");
@import url("./blocks/photo-grid/__title/photo-grid__title.css");
@import url("./blocks/photo-grid/__like/photo-grid__like.css");
@import url("./blocks/photo-grid/__like/_acltive/photo-grid__like_acltive.css");
@import url("./blocks/photo-grid/__delete/photo-grid__delete.css");
@import url("./blocks/photo-grid/__like-container/photo-grid__like-container.css");
@import url("./blocks/photo-grid/__counter/photo-grid__counter.css");

@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");

@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/_type/popup_type_image.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__container/_height/popup__container_height.css");
@import url("./blocks/popup/__close/popup__close.css");
@import url("./blocks/popup/__fill/popup__fill.css");
@import url("./blocks/popup/__save/popup__save.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__text/popup__text.css");
@import url("./blocks/popup/__edit/popup__edit.css");
@import url("./blocks/popup/__text/_position/popup__text_position_first-line.css");
@import url("./blocks/popup/__text/_position/popup__text_position_second-line.css");
@import url("./blocks/popup/__photo/popup__photo.css");
@import url("./blocks/popup/__place-name/popup__place-name.css");
@import url("./blocks/popup/__image-container/popup__image-container.css");
@import url("./blocks/popup/__save/_disabled/popup__save_disabled.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__input/_type/popup__input_type_error.css");
@import url("./blocks/popup/__error/_visible/popup__error_visible.css");