.popup__save {
    width: 100%;
    height: 46px;
    background: url("./../../../images/button_save.svg") no-repeat center center;
    border-radius: 2px;
    padding: 0;
    /* margin: 15px 0 0; */
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: white;
    transition: opacity 0.5s;
}

.popup__save:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (min-width: 619px) {
    .popup__save {
        height: 50px;
        font-size: 18px;
        line-height: 22px;
        /* margin-top: 17px; */
    }
}