.header__button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 0 16px 0;
    padding: 0;
    background: none;
    border: none;
    display: inline;
    transition: opacity 0.5s;
}

.header__button:hover {
    opacity: .85;
    cursor: pointer;
}